tradingview_ta
discord-webhook
scipy
ta
pandas
numpy<2
scikit-learn
matplotlib
tensorflow
streamlit
psycopg2-binary
sqlalchemy
plotly
pybit
discord.py
kaleido
python-dotenv==1.0.0
seaborn
python-dotenv
web3
tabulate
aiohttp
yfinance
PyNaCl
anthropic
aiofiles
cchardet
langchain
pinecone-client
Pillow
psutil